h1 {
    color: brown;
}

#map-container{
    width: 90%;
    height: 20%;

    /* svg a:hover path {
        fill: #ff9800 !important;
        cursor: pointer;
    } */
}
#map-container object{
    width:100%;
    height:50%;
}
.hidden {
    display: none;
}

#mappopup {
    width: 40%;
    border-style: solid;
}