<!DOCTYPE html>
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="icon" type="image/x-icon" href="{% static 'images/Cartobreach_Logo_No_Name.png' %}">
        <!-- map styler -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <title>About Us</title> 
    </head> 
    <body>
        <div class="header">
            <div id="header-content">
                {% load static %}  
                <div id="logo-holder"><img src="{% static 'images/Cartobreach_Logo.png' %}" alt="Cartobreach logo" id="logo"></div>
                <div id="header-h"><h1>Cartobreach</h1></div>
            </div>
        </div>
        <div class="main">
            <section class="navbar">
                <ul class="nav-bar">
                    <a href="{{ index }}"><li>Home Page</li></a>
                    <a href="{{ aboutus }}"><li>About Us</li></a>
                    <a href="{{ sources }}"><li>Sources</li></a>
                </ul>
            </section>
            <section class="github-repo">
                <h3>Link to Cartobreach GitHub repository: <a href="{{ repolink }}">{{ repolink }}</a></h3>
            </section>
        </div>
    </body>
</html>