<!-- load dataset analytics (analysis.html) after clicking analyticsloader button -->
<!-- TASK: UPDATE ANALYTICS WITH REGION AND GROUP -->
<section class="analytics">
    <ul>
        <li>Total recorded incidents: {{totalincidents}}</li>
        <li>Annual total chart (Total incidents recorded each year)</li>
        {{totalincidentsvg}}
        <li>Quarterly total chart for each continent (total incidents recorded each quarter grouped by victim's continent)</li>
        {{quartersvg}}
        <li>Number of attacks on critical infrastructure: {{criticalattacks}} ({{criticalattackspercent}}% of total recorded incidents)</li>
    </ul>
    <a href="https://eurepoc.eu/methodology/"><p>Disclaimer: Data recorded by European Repository of Cyber Incidents (EuRepoC)</p></a>
    <a href="https://zenodo.org/records/14965395"><p>Database found here</p></a>
</section>