<!-- load dataset analytics (analysis.html) after clicking analyticsloader button -->
<section class="analytics">
    <ul>
        <li>Total recorded incidents: {{totalincidents}}</li>
        <li>Number of attacks on corporate industry: {{corporateattacks}} ({{corporateattackspercent}}% of total recorded incidents)</li>
        <li>Annual total chart (Total incidents recorded each year)</li>
        {{totalincidentsvg}}
        <li>Quarterly total chart for each continent (total incidents recorded each quarter grouped by victim's continent)</li>
        {{monthlyincidentsvg}}
    </ul>
    <p>Disclaimer: Data recorded by European Repository of Cyber Incidents (EuRepoC)</p>
</section>