<!-- load dataset analytics (analysis.html) after clicking analyticsloader button -->
<section class="analytics">
    <li>
        <ul>Total incidents: {{totalincidents}}</ul>
        <ul>Number of attacks on corporate industry: {{corporateattacks}}</ul>
        <ul>Number of attacks on military forces: {{militaryattacks}}</ul>
    </li>
</section>
<section class="mappopup">
    <h1>Continent: </h1>
    <!-- when single continent clicked load analysis of continent data-->
    <p>
        
    </p>
</section>