<!-- map info pop up-->
<section class="mappopup">
    <!-- <a href="{{ index }}"><button>Go back to home page</button></a> -->
    <h1>Continent: {{ continent }}</h1>
    <div id="popupContent"> 
        <!-- when single continent clicked load analysis of continent data-->
        <ul>
            <li>Total recorded incidents: {{ continenttotal }} ({{ continenttotalpercent }}% of the filtered dataset)</li>
            {{ continentattacktypesvg }}
            <li>Number of attacks on critical infrastructure: {{ continentcriticaltotal }} ({{ continentcriticalpercent }}% of the filtered continent dataset)</li>
            {{ continentcriticalsvg }}
            <li>What was actually impacted in the attack according to the MITRE ATT&CK framework: </li>
            {{ continentmitreimpactsvg }}
        </ul>
</section>
