<!-- selected country via GET value-->
 <section class="mappopup">
    <h1>Country: {{ country }}</h1>
    <ul>
      <li>Total recorded incidents: </li> <!-- Only filter by country not filtered database -->
      <li>Incident types graph: </li><!-- Include chart for incident type -->
      <li>Number of attacks on critical infrastructure: </li> <!-- Include chart for specific infrastructure -->      
      <li>Number of attacks on social groups: </li> <!-- Include chart for specific groups -->
      <li>Number of attacks affiliated with politics: </li> <!-- Include chart for specific groups -->
      <li>Multi target attacks related to country</li> <!-- Filter by country and other countries-->
      <li>Methods of attribution (addressing attacks to the public)</li> <!-- LIST!!! Look at "attribution_type" and most 10-20 "attribution_source_url" each -->
    </ul>
 </section>