<!-- filter post form -->
    <form method="get" action="" id="filterform">
        <h2>Filter</h2>
        <div id="filter-range">
            <h3>Data range</h3>
            <div id="filter-content">
                {% csrf_token %}
                <label for="startdate">Start</label>
                <input type="date" name="startdate" value="{{startdate}}">
                <label for="enddate">End</label>
                <input type="date" name="enddate" value="{{enddate}}">
            </div>
            <h3>Select Victim Type</h3>
            <div id="receiver-content">
                {% csrf_token %}
                <div id="receiver-type-content">
                    {% for key, value in receiversubcatdict.items %}
                    <h4>Type</h4>
                        {% if key in selectedreceivercats %}
                            <input type="checkbox" name="receivertype" value="{{key}}" checked>
                                {{key}}</input>
                            {% for receiversubcat in value %}
                                <div id="receiver-subtype-content">
                                    <h4>Sub-type</h4>
                                    {% if receiversubcat in selectedreceiversubcats %}
                                        <input type="checkbox" name="receiversubtype" value="{{receiversubcat}}" checked>
                                            {{receiversubcat}}</input>
                                    {% else %}
                                        <input type="checkbox" name="receiversubtype" value="{{receiversubcat}}">
                                            {{receiversubcat}}</input>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <input type="checkbox" name="receivertype" value="{{key}}">
                                {{key}}</input>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Retain existing presubmitted non-filter variables -->
        <input type="hidden" name="region" value="{{switchregion}}">
        <!-- <input type="hidden" name="group" value="{{switchgroup}}"> -->
        <button type="submit">Filter</button>
        <button type="reset">Reset</button>
    </form>