<!DOCTYPE html>
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="icon" type="image/x-icon" href="{% static 'images/Cartobreach_Logo_No_Name.png' %}">
        <!-- map styler -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/source.css' %}">
        <title>Cartobreach</title> 
    </head> 
    <body>
        {% csrf_token %}
        <form method="get" action="{{ index }}" id="gobackform">
            <!-- filter/selected information via get -->
            <input type="hidden" name="">
            <input type="hidden" name="">
            <input type="hidden" name="">
            <input type="hidden" name="">
            <input type="hidden" name="">
            <input type="hidden" name="">
            <button type="submit">Back to home page</button>
        </form>
        <h1>Sources Page</h1>
        <blockquote>Sources may be represented as Not available</blockquote>
        <!-- Filter form with start/end date, countries, ascending/descending order -->
        <form method="get" action="{{ sources }}" id="filterform">
            <label for="sourcestartdate">Start Date: </label>
            <input type="date" name="sourcestartdate" value="">
            
            <label for="sourceenddate">End Date: </label>
            <input type="date" name="sourceenddate" value="">
            <!-- Separate forms for switch and country search -->
            <label for="orderswitch"></label>
            <input type="checkbox" name="orderswitch">
            
            <label for="countrysearch">Find country</label>
            <input type="text" name="countrysearch" value="">
            <div id="countryoptions">
                <p>Did you mean?</p>
                <div id="countrysuggests">
                    <!-- TASK: Find in country list with text countrysearch in name, copy into countrysearch -->
                    <option name="">Example</option>
                </div>
            </div>
            <button type="submit">Filter</button>
        </form>
        <!-- List all sources under "source_url"-->
        <div id="table-container">
            <table class="sources-table">
                <thead>
                    <tr>
                        <th>Incident ID</th>
                        <th>Known Start Date</th>
                        <th>Incident Type</th>
                        <th>Affected Country/s</th>
                        <th class="source-head">Sources</th>
                    </tr>
                </thead>
                <tbody>
                <!-- Table list in order [Incident ID, Start Date, Incident Type, Receiver Country, Sources]-->
                {% for row in tablelist %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                        <td>
                        {% for type in row.2 %}
                            {{ type }}; 
                        {% endfor %}
                        </td>
                        <td>
                        {% for country in row.3 %}
                            {{ country }}; 
                        {% endfor %}
                        </td>
                        <td class="source">
                        {% for source in row.4 %}
                            {% if source in "Not available" %}
                                {{ source }}; 
                            {% else %}
                                <a href= "{{ source }}">{{ source }}</a>; 
                            {% endif %}
                        {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <!-- If selected and/or filtered data (GET parameters), list only them sources with the option to view full list-->
            </table>
        </div>
        <!-- Show news outlets mostly covering this information, ordered by most covered to least covered-->
    </body>
</html>